In [1]:
from youtube_comment_downloader import *
import pandas as pd
urls=['https://www.youtube.com/watch?v=7FrHIRuTBXI','https://www.youtube.com/watch?v=FNLYSsPiN14','https://www.youtube.com/watch?v=B2qnuhi207Q','https://www.youtube.com/watch?v=HIgxyJSx5Ec','https://www.youtube.com/watch?v=i2xx6HgWNZs','https://www.youtube.com/watch?v=FkhDl6exr8w','https://www.youtube.com/watch?v=y4Cc4nrWXIU','https://www.youtube.com/watch?v=cVBLWrPKLGs','https://www.youtube.com/watch?v=yp0dVTs9cGU','https://www.youtube.com/watch?v=7R840Utkm7E','https://www.youtube.com/watch?v=z-9G1cq5n3I']
downloader = YoutubeCommentDownloader()
data = []
for url in urls:
    comments = downloader.get_comments_from_url(url)
    for c in comments:
        data.append({
        "source": "youtube",
        "author": c.get("author"),
        "text": c.get("text"),
        "date": c.get("time")
        })

yt_df = pd.DataFrame(data)
yt_df.head(), yt_df.shape

(    source                author  \
 0  youtube          @orangejuice
 1  youtube            @Hendger24
 2  youtube  @byrontheusurper6505
 3  youtube  @byrontheusurper6505
 4  youtube   @valentingarcia5511

                                                 text                     date
 0  Yall im not a plant. I swear. \nThey didnt dis...               4 days ago
 1  I wonder what "data" wanted champions but renamed  20 minutes ago (edited)
 2                        Having 2 champions is CRAZY             22 hours ago
 3  What a strange thing to do... they look really...             22 hours ago
 4  Just when I started playing again after years ...                1 day ago  ,
 (7847, 4))

In [2]:
yt_df['category']='Level_16'
yt_df.columns

Index(['source', 'author', 'text', 'date', 'category'], dtype='object')

In [3]:
yt_df.head()

,source,author,text,date,category
0,youtube,@orangejuice,Yall im not a plant. I swear. \nThey didnt dis...,4 days ago,Level_16
1,youtube,@Hendger24,"I wonder what ""data"" wanted champions but renamed",20 minutes ago (edited),Level_16
2,youtube,@byrontheusurper6505,Having 2 champions is CRAZY,22 hours ago,Level_16
3,youtube,@byrontheusurper6505,What a strange thing to do... they look really...,22 hours ago,Level_16
4,youtube,@valentingarcia5511,Just when I started playing again after years ...,1 day ago,Level_16

In [4]:
urls2=['https://www.youtube.com/watch?v=B9OgzpMz8ws','https://www.youtube.com/watch?v=5BaCsiVh2q8','https://www.youtube.com/watch?v=pTwsMCH1418&t=104s','https://www.youtube.com/watch?v=JHy-82j7CHY','https://www.youtube.com/watch?v=StLHbCmIQQE','https://www.youtube.com/watch?v=9N5nlRwKsBM&t=734s','https://www.youtube.com/watch?v=MyJOnr2tz9Y','https://www.youtube.com/watch?v=StLHbCmIQQE','https://www.youtube.com/watch?v=D1FsOIHv98U','https://www.youtube.com/watch?v=lEYiw-hVvwk','https://www.youtube.com/watch?v=7qzvXKxddh8','https://www.youtube.com/watch?v=UBMMDKW5p3w&t=338s','https://www.youtube.com/watch?v=triXUmOR39w']
downloader2 = YoutubeCommentDownloader()
data2 = []
for url in urls2:
    comments = downloader2.get_comments_from_url(url)
    for c in comments:
        data2.append({
        "source": "youtube",
        "author": c.get("author"),
        "text": c.get("text"),
        "date": c.get("time"),
        "category":'Heros'
        })

yt_df_2 = pd.DataFrame(data2)
yt_df_2.head(), yt_df_2.shape

(    source          author                            text            date  \
 0  youtube    @wowwowy7170  Early april foolsâ€¦ right guys?  10 minutes ago
 1  youtube         @í•¸ë“¤_4kd                              GG  18 minutes ago
 2  youtube    @Warrior-n4i                       ðŸ¤®ðŸ¤®ðŸ¤®ðŸ¤®ðŸ¤®ðŸ¤®ðŸ¤®ðŸ¤®ðŸ¤®  23 minutes ago
 3  youtube     @salted2006            Yall ruined the game  30 minutes ago
 4  youtube  @Thomas_Angelo       Man LVL 16 is just so sad  32 minutes ago

   category
 0    Heros
 1    Heros
 2    Heros
 3    Heros
 4    Heros  ,
 (15674, 5))

In [5]:
yt_df_2.head()

,source,author,text,date,category
0,youtube,@wowwowy7170,Early april foolsâ€¦ right guys?,10 minutes ago,Heros
1,youtube,@í•¸ë“¤_4kd,GG,18 minutes ago,Heros
2,youtube,@Warrior-n4i,ðŸ¤®ðŸ¤®ðŸ¤®ðŸ¤®ðŸ¤®ðŸ¤®ðŸ¤®ðŸ¤®ðŸ¤®,23 minutes ago,Heros
3,youtube,@salted2006,Yall ruined the game,30 minutes ago,Heros
4,youtube,@Thomas_Angelo,Man LVL 16 is just so sad,32 minutes ago,Heros

In [6]:
Youtube_data=pd.concat([yt_df_2,yt_df],ignore_index=True)

In [7]:
Youtube_data.head()

,source,author,text,date,category
0,youtube,@wowwowy7170,Early april foolsâ€¦ right guys?,10 minutes ago,Heros
1,youtube,@í•¸ë“¤_4kd,GG,18 minutes ago,Heros
2,youtube,@Warrior-n4i,ðŸ¤®ðŸ¤®ðŸ¤®ðŸ¤®ðŸ¤®ðŸ¤®ðŸ¤®ðŸ¤®ðŸ¤®,23 minutes ago,Heros
3,youtube,@salted2006,Yall ruined the game,30 minutes ago,Heros
4,youtube,@Thomas_Angelo,Man LVL 16 is just so sad,32 minutes ago,Heros

In [8]:
Youtube_data.to_csv(r"C:\Users\Prabhat\Desktop\Carear\projects\Sentiment Analysis For New Update\Data\Youtube_data.csv")

In [9]:
Youtube_data.columns

Index(['source', 'author', 'text', 'date', 'category'], dtype='object')

In [10]:
from google_play_scraper import reviews, Sort
import pandas as pd

results, _ = reviews(
    'com.supercell.clashroyale',   # Clash Royale package name
    lang='en',                     # Language
    country='us',                  # Country
    sort=Sort.NEWEST,              # Sort by newest reviews
    count=6000                     # Number of reviews to scrape
)

play_df = pd.DataFrame(results)

# Keep only useful columns
play_df = play_df[['content', 'score', 'at']]
play_df.columns = ['text', 'rating', 'date']

play_df.head(), play_df.shape

(                                                text  rating  \
 0                                  clash royale ðŸ‘Ž no       1
 1                                 a really nice game       5
 2  Really frustrating game forcing you to pay in ...       1
 3                                              great       5
 4  It's a great game but I think that there shoul...       5

                  date
 0 2025-11-25 18:41:35
 1 2025-11-25 18:36:41
 2 2025-11-25 18:35:20
 3 2025-11-25 18:34:48
 4 2025-11-25 18:32:07  ,
 (6000, 3))

In [11]:
play_df['date'].dtype

dtype('<M8[ns]')

In [12]:
play_df['date'].tail()

5995   2025-11-14 11:09:55
5996   2025-11-14 11:06:47
5997   2025-11-14 11:00:55
5998   2025-11-14 10:58:46
5999   2025-11-14 10:56:53
Name: date, dtype: datetime64[ns]

In [13]:
play_df['category']='Play_Store_Updates'
play_df['source']='Google_Play'
play_df.columns

Index(['text', 'rating', 'date', 'category', 'source'], dtype='object')

In [14]:
Clash_Royal_Reviews=pd.concat([play_df,Youtube_data],ignore_index=True)

In [15]:
play_df.to_csv(r"C:\Users\Prabhat\Desktop\Carear\projects\Sentiment Analysis For New Update\Data\PlayStore_data.csv")

In [16]:
Clash_Royal_Reviews.isna().sum()

text            0
rating      23521
date            0
category        0
source          0
author       6000
dtype: int64

In [17]:
import re

def clean_text(text):
    text=str(text)
    text=re.sub(r"http\S+|www\S+", "", text)
    text=re.sub(r"&lt;|&gt;|&amp;", " ", text)
    text=re.sub(r"\s+", " ", text)
    text=text.strip()
    return text

Clash_Royal_Reviews['cleaned_text']=Clash_Royal_Reviews['text'].apply(clean_text)
Clash_Royal_Reviews["word_count"] = Clash_Royal_Reviews["cleaned_text"].str.split().str.len()
Clash_Royal_Reviews["text_length"] = Clash_Royal_Reviews["cleaned_text"].str.len()
Clash_Royal_Reviews = Clash_Royal_Reviews[Clash_Royal_Reviews["word_count"] > 2]

In [18]:
Clash_Royal_Reviews.head(10)

,text,rating,date,category,source,author,cleaned_text,word_count,text_length
0,clash royale ðŸ‘Ž no,1.0,2025-11-25 18:41:35,Play_Store_Updates,Google_Play,NaN,clash royale ðŸ‘Ž no,4,17
1,a really nice game,5.0,2025-11-25 18:36:41,Play_Store_Updates,Google_Play,NaN,a really nice game,4,18
2,Really frustrating game forcing you to pay in ...,1.0,2025-11-25 18:35:20,Play_Store_Updates,Google_Play,NaN,Really frustrating game forcing you to pay in ...,38,195
4,It's a great game but I think that there shoul...,5.0,2025-11-25 18:32:07,Play_Store_Updates,Google_Play,NaN,It's a great game but I think that there shoul...,15,71
5,best game in 2025,5.0,2025-11-25 18:30:25,Play_Store_Updates,Google_Play,NaN,best game in 2025,4,17
7,The game is so good and makes an intense press...,5.0,2025-11-25 18:29:14,Play_Store_Updates,Google_Play,NaN,The game is so good and makes an intense press...,31,157
9,useless with a new update,1.0,2025-11-25 18:24:57,Play_Store_Updates,Google_Play,NaN,useless with a new update,5,25
10,lvl 16 is a joke. they promised lvl 15 would b...,1.0,2025-11-25 18:22:11,Play_Store_Updates,Google_Play,NaN,lvl 16 is a joke. they promised lvl 15 would b...,28,136
11,Do not waste your time with this game. The dev...,1.0,2025-11-25 18:21:56,Play_Store_Updates,Google_Play,NaN,Do not waste your time with this game. The dev...,81,430
12,"This game is an absolute banger, Supercell's t...",2.0,2025-11-25 18:20:01,Play_Store_Updates,Google_Play,NaN,"This game is an absolute banger, Supercell's t...",83,491

In [19]:
Clash_Royal_Reviews.columns

Index(['text', 'rating', 'date', 'category', 'source', 'author',
       'cleaned_text', 'word_count', 'text_length'],
      dtype='object')

In [20]:
Clash_Royal_Reviews.to_csv(r"C:\Users\Prabhat\Desktop\Carear\projects\Sentiment Analysis For New Update\Data\Clash_Royal_Reviews.csv")

In [21]:
print(len(Clash_Royal_Reviews))

25463